    body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
      padding-top:0px;
    }

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides2 {
      display: none
    }

    #slides2 .slidesjs-navigation {
      margin-top:3px;
    }

a.slidesjs-next, a.slidesjs-previous, a.slidesjs-play, a.slidesjs-stop {
    background-image: url("images/btns-next-prev.png");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 18px;
    margin-right: 5px;
    overflow: hidden;
    text-indent: -9999px;
    width: 12px;
}
a.slidesjs-next {
    background-position: -12px 0;
    margin-right: 10px;
}
a.slidesjs-next:hover {
    background-position: -12px -18px;
}
a.slidesjs-previous {
    background-position: 0 0;
}
a.slidesjs-previous:hover {
    background-position: 0 -18px;
}
a.slidesjs-play {
    background-position: -25px 0;
    width: 15px;
}
a.slidesjs-play:hover {
    background-position: -25px -18px;
}
a.slidesjs-stop {
    background-position: -41px 0;
    width: 18px;
}
a.slidesjs-stop:hover {
    background-position: -41px -18px;
}

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(images/pagination.png);
      background-position: 0 0;
      float: right;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }
